.todo-form {
  height: $todo-form--height;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.9rem;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  border-bottom: solid 1px gray;
  &::placeholder {
    color: lightgray;
  }
}
